# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.client.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\awatt\OneDrive\Documents\GitHub\client\.idea\.idea.client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
